services:
  valgrind:
    image: ubuntu:latest
    command: bash -c "apt-get update && apt-get install -y build-essential cmake valgrind && rm -rf /app/build && mkdir -p /app/build && cd /app/build && cmake .. && make && valgrind --leak-check=full --show-leak-kinds=all --track-origins=yes /app/build/bin/swiss-table"
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - 8080:8080
    environment:
      - LD_LIBRARY_PATH=/app/lib
      - DYLD_LIBRARY_PATH=/app/lib
      - PATH=/app/bin:$PATH